* {
    box-sizing: border-box;
}

.heroimage{ background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("DSC00723.jpg");
    filter: grayscale(30%);
    height:65%;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
   }
.herotitle{
height:70%;
position:absolute;
float:center;
}
.herotitle img {
position:absolute;
height:70%;
float:center;



}

.biopic{
    float: left;
    width: 70%;
    padding:0 0 0 0;
}
h1{ 
   
    float:center;
    font-size: 50;
    font-family: 'Swanky and Moo Moo', sans-serif;

    padding: 2em auto 3em 4em;
}
body{
    background-color: #c3c4c8;

}
.bioinfo{
    
    float:center;
    font-size: 25;
    font-family: 'Swanky and Moo Moo', sans-serif;

}
#biopic{
    float: left;
    width: 30%;
}


ul li {color: black;
    list-style: none;
    padding: 1em;
    font-size: 30;
    display:inline;
    font-size: 35;
    font-family: 'MV Boli', sans-serif; 

    
    }
ul li a {text-decoration: none;
    color:black;
    position:relative;
    z-index: 20;
  
    }
ul li a:hover{
    color:goldenrod;
}

form {text-align: center;}